@model Loja.Models.Promocao

@{
    ViewBag.Title = "Apagar";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h3>Você tem certeza que quer apagar este item?</h3>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade, new { id = "DataValidade" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desconto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" />
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
    <script>
        $(document).ready(function () {
            $("#DataValidade").inputmask({ "mask": "99/99/9999" });
        });


    </script>
}